/* Герой */
.hero-title {
    color: #FFFFFF;
    background: #2F303A;
}


/* Преимущества */
.section-title {
    color: #212121;
}
.feature-list .title {
    color: #212121;
}
.coach-list .title {
    color: #212121;
}


/* Button */
.service-title {
color: var(--accent-color);
background-color: var(--backround-color);
}
.service-title.primary {
    background-color: var(--backround-color);
    color: var(--accent-color);
}

